<% let totalDuration = 0; %>
<% if (locals.shifts.length === 0) { %>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
<% } else { %>

<% for( let i = 0; i < locals.shifts.length; i++ ) { %>
  <% let date = shifts[i].startTime.slice(0,5); %>
  <% let startTime = moment(shifts[i].startTime, 'DD/MM/YYYY HH:mm'); %>
  <% let endTime = moment(shifts[i].endTime, 'DD/MM/YYYY HH:mm'); %>
  <% let by = shifts[i].by; %>
  <% let comment = shifts[i].comment; %>
  <% let duration = endTime.diff(startTime, 'minutes'); %>
  <% let pay = shifts[i].pay * (duration / 60) || 0 %>
  
  <tr>
    <td class="data-table"><strong><%= date %></strong></td>
    <td class="data-table"><%= shifts[i].startTime.slice(11) %></td>
    <td class="data-table"><%= shifts[i].endTime.slice(11) %></td>
    <td class="data-table"><%= (Math.floor(duration / 60) + ':' + duration % 60) %></td>
    <td class="data-table"><%= pay.toFixed(2) %></td>
    <td>
      <button data-comment="<%= comment %>" data-id="<%= shifts[i].id %>" type="button" class="button is-small is-rounded">Edit</button>
      <% if (comment) { %>
       <span class="pen">&nbsp;✎</span>
      <% } %>
    </td>
  </tr>
    <% } %>
<% } %>
